<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item xsi:type="object"
                      name="hugo:sayhello">TestModule\TestCLI\Console\SayHello</item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item xsi:type="object"
                      name="hugo:saygoodbye">TestModule\TestCLI\Console\SayGoodbye</item>
            </argument>
        </arguments>
    </type>
</config>

